*.o
*.swp
.DS_Store
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
src/xo
tests/asm_input
tests/asm_input_count
tests/asm_input_insns
tests/insn_impl_c
tests/program_analysis
tests/program_equivalence_c
tests/program_generator
